:root{
    --color1: #2C5F2D;
    --color2: #97BC62FF;
    --color3: #5b3e31;


}

body{
    font-family: "Kanit", sans-serif;
    background-color: var(--color2);
}
.badge{
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 4px;
    box-shadow: .5rem .5rem 0 black;
    color: var(--color1);
    background-color: var(--color2);
}
header{
    background-color: var(--color1);
}
html{
    background-color: (var(--color2));
}

.nav-link{
    color: var(--color2);
}

.card{
    background-color: var(--color1);
    color: var(--color2);
}
.card-body{
    background-color: var(--color2);
    color: var(--color1);
}
.card-title{
    color: var(--color2);
}

#addB{
    background-color: var(--color3);
    color: var(--color2);
}
.editBtn{
    background-color: var(--color3);
    color: var(--color2);
}
.submit{
    background-color: var(--color3);
    color: var(--color2);
}
